/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.superwrapper {
  overflow: hidden;
  max-width: 1200px;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 20px;
}

.font-lg {
  font-size: 35px;
}

.mb-sm {
  margin-bottom: 20px !important;
}

.mb-lg {
  margin-bottom: 60px !important;
}

.pb-sm {
  padding-bottom: 20px !important;
}

.pb-lg {
  padding-bottom: 60px !important;
}

.rule-link {
  font-size: .8rem;
}

.content-width {
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

//header
.header {
  position: fixed;
  height: 65px;
  z-index: 10000;

  & a {
    display: block;
    height: 100%;
    width: 100%;
  }

  .logo__img {
    position: absolute;
    top: 28%;
    left: 4%;
    height: 100%;
    z-index: 1000;
    padding-left: 5vw;

    .logo {
      height: 9vw;
      width: 28vw;
      object-fit: cover;
    }
  }

  @media (max-width:960px) {
    .pc-container {
      display: none
    }
  }
}

//top-view
.top-view {
  background-color: #FFF;
  @extend .content-width;
  @extend .pb-lg;
  position: relative;
  margin-top: 15vw;

  &__img {
    width: 100%;
    height: 350px;
  }

  &__txtarea {
    position: relative;
  }

  &__txt {
    @extend .font-md;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-family: serif;
    margin-bottom: 0;
    padding-left: 10px;
  }

  &-cv {
    &__txtarea {
      text-align: center;
      margin-top: 1rem;
    }

    &__txt {
      @extend .font-md;
      color: $cBlack;
      font-family: serif;
      margin-bottom: 0;
      line-height: 2;
      padding: 15px;
    }

    &__img {
      padding-top: 8vw;
      margin: 0 auto;
      height: 90%;
      width: 90%;
      margin-bottom: 30px;
    }
  }
}

//value 
.value {
  @extend .content-width;
  @extend .pb-lg;
  padding: 30px 0 60px 0;
  background-color: #FFF;

  &__title {
    text-align: center;
    color: #487686;
    margin-bottom: 50px;

    & p {
      @extend .font-lg;
      margin-bottom: -5px;
    }

    & span {
      @extend .font-sm;
      color: rgb(112, 112, 112);
    }
  }

  &__img {
    &>img {
      border-radius: 5%;
    }
  }
}

//creative 
.creative {
  @extend .content-width;
  padding: 30px 0 30px 0;
  background-color: #f6fafa;

  &__title {
    @extend .mb-sm;

    &>p {
      @extend .font-lg;
      color: rgb(94, 92, 92);
      margin-bottom: -18px;
      letter-spacing: 1px;

    }

    &>span {
      @extend .font-sm;
      color: $cSubBlack;
      font-weight: 300;
      padding-left: 8px;
    }
  }

  &__img {
    margin: 16vw 0;

    &>img {
      border-radius: 5%;
    }
  }

  &__txt {
    @extend .font-sm;
    line-height: 1.8;
    color: rgb(94, 92, 92);
    text-align: center;
  }
}

//concept
.concept {
  position: relative;
  @extend .content-width;
  @extend .pb-lg;
  padding: 30px 0 30px 0;
  background-color: #f6fafa;

  &__title {
    @extend .mb-sm;

    &>p {
      @extend .font-lg;
      color: rgb(94, 92, 92);
      margin-bottom: 20px;
      text-align: center;
      letter-spacing: 1px;
    }

  }

  &__img {
    margin: 16vw 0;

    &>img {
      border-radius: 5%;
    }
  }

  &__txt {
    @extend .font-sm;
    line-height: 1.8;
    color: rgb(94, 92, 92);
  }
}

//price
.price {
  @extend .content-width;
  @extend .pb-lg;
  background-color: #ffffff;

  &__title {
    position: relative;
    text-align: center;
    margin-bottom: 16vw;

    &>p {
      @extend .font-lg;
      color: rgb(92, 92, 92);
      margin-bottom: -15px;
      letter-spacing: 2px;

    }

    &>span {
      @extend .font-sm;
      color: $cSubBlack;
      font-weight: 300;
      padding-left: 8px;

    }
  }

  &__txt {
    @extend .font-sm;
    margin-bottom: 50px;
    line-height: 1.8;
    color: rgb(94, 92, 92);
  }

  &-menu {
    display: flex;
    justify-content: space-between;

    & p {
      margin-bottom: 4px;
      @extend .font-sm;
      color: rgb(94, 92, 92);
    }

    &__st {
      background-color: #fff;
      border: 1px solid rgb(226, 220, 220);
      box-shadow: rgb(223, 217, 217) 1px 1px 1px 1px;
      width: 48%;
      padding: 10px;
      border-radius: 5%;
    }

    &__pr {
      background-color: #fff;
      border: 1px solid rgb(226, 220, 220);
      box-shadow: rgb(223, 217, 217) 1px 1px 1px 1px;
      width: 48%;
      padding: 10px;
      border-radius: 5%;
    }

    .menu__tit {
      @extend .font-md;
      color: #487686;
    }
  }
}

//process
.process {
  @extend .content-width;

  &__wrap {
    position: relative;
    height: 900px;
  }


  &__block {
    height: 100%;
    position: relative;

    & span {
      height: 20px;
      width: 20px;
      background-color: rgb(5, 236, 236);
      display: block;
      border-radius: 50%;
    }

    .dot01 {
      position: absolute;
      top: 200px;
      left: 25px;

    }

    .dot02 {
      position: absolute;
      top: 350px;
      left: 25px;
    }

    .dot03 {
      position: absolute;
      top: 520px;
      left: 25px;
    }

    .dot04 {
      position: absolute;
      top: 740px;
      left: 25px;
    }

    &::before {
      position: absolute;
      top: 53%;
      left: -240px;
      bottom: 0;
      display: block;
      content: '';
      width: 550px;
      height: 3px;
      background-color: rgb(5, 236, 236);
      transform: rotate(90deg);
    }
  }

  &__list {
    height: 100%;
  }

  &__item {
    position: relative;
    background-color: #fff;
    border: 4px solid rgb(172, 167, 167);
    border-radius: 50%;
    text-align: center;
    font-size: .75rem;
    height: 180px;
    width: 180px;

    .item-tit {
      @extend .font-md;
      font-weight: 600;
      padding-top: 10px;
      margin-bottom: 3px;
      color: #487686;
    }

    &>p {
      margin-top: 8px;
    }

  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    background-color: rgb(6, 23, 122);
    opacity: .5;

    & img {
      height: 840px
    }
  }

  &__tit {
    @extend .font-lr;
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 40px;
  }

  .is-hearing {
    position: absolute;
    top: 100px;
    left: 75px;
  }

  .is-agreement {
    position: absolute;
    top: 270px;
    right: 25px;
  }

  .is-veriflcation {
    position: absolute;
    top: 440px;
    left: 75px;
  }

  .is-release {
    position: absolute;
    top: 610px;
    right: 25px;
  }

}

.c-btns {
  // background-color: #FFF;
  padding: 10vw 0;
}

//footer {
.footer {
  background-color: #F3F3F3;

  &__nav {
    text-align: center;
    padding-top: 3vw;

    & ul {
      padding-left: 0;
    }

    & li {
      padding-top: 8vw;

      & a {
        color: $cBlack;
        font-size: 16px;
      }
    }
  }

  .back-btn {
    padding-top: 30px;

    &__link {
      position: relative;
      display: flex;
      height: 60px;
      width: 60px;
      border: 1px solid rgb(196, 189, 189);
      border-radius: 50%;
      background-color: #fff;
      margin: 0 auto;
      justify-content: center;
      align-items: center;

      // &::before {
      //   position: absolute;
      //   top: 15px;
      //   content: '';
      //   background-image: url(/images/icon_arrow--top.svg);
      //   background-position: center;
      //   background-repeat: no-repeat;
      //   background-size: contain;
      //   width: 25px;
      //   height: 25px;
      // }

      & p {
        @extend .font-sm;
        color: $cBlack;
        margin-bottom: 0;
      }
    }

  }

  &__logo {
    text-align: center;
    margin: 20px;

    &>img {
      width: 20%;
      height: 40%;
    }

    @media (min-width:960px) {
      &>img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__copy {
    text-align: center;
    padding-bottom: 30px;
    color: $cBlack;
    @extend .font-sm;
  }
}

//mobile-menu
.mobile-menu {
  a {
    color: $cBlack;
  }
}

//* * * * * * company-page *  * * * * * * * *
.c-top-view {
  margin-top: 20vw;
  margin: 0 auto;

  &__img {
    margin: 0 auto;
    height: 280px;
    max-width: 1080px;
    margin-top: 24vw;
    background-image: url(/images/city@mobile.jpg);
    background-size: 151%;
    background-repeat: no-repeat;
    transform: rotate(353deg);
  }

  @media (min-width:600px) {
    &__img {
      height: 327px;
      background-size: 105%;
    }
  }

  @media (min-width:960px) {
    &__img {
      height: 327px;
      background-size: 105%;
    }
  }

  @media (min-width:1200px) {
    &__img {
      height: 327px;
      background-size: 90%;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 131);
    opacity: .2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .title {
    font-size: 3.8rem;
    letter-spacing: 4px;
    color: #fff;
    transform: rotate(7deg);
  }
}

.company {
  margin-top: 20vw;

  &__title {
    text-align: center;

    .en {
      font-size: 2rem;
      letter-spacing: 5px;
      margin-bottom: 0;
    }

    .ja {
      margin-top: 0;
      color: rgb(158, 158, 158);
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 4px;
    }
  }

  &__list {
    padding: 10vw 0 15vw 0;

    & a {
      display: block;
      color: #333;
    }
  }

  &__item {
    padding-bottom: 3vw;
  }
}

//* * * * * * * 利用規約 * * * *  * * * * * * * * *

.p-rule {
  margin-top: 20vw;
  letter-spacing: 2px;
  line-height: 2;
  font-size: .6rem;
  text-align: left;

  &__title {
    margin-top: 10vw;
  }

  &__inner {
    padding: 20vw 10vw;
  }

  &-item-text {
    padding-bottom: 3vw;

    & a {
      color: rgb(29, 29, 29);
    }
  }
}